[submodule "submodules/emacs/danielmai"]
	path = submodules/emacs/danielmai
	url = git@github.com:danielmai/.emacs.d.git
[submodule "submodules/emacs/seblemaguer"]
	path = submodules/emacs/seblemaguer
	url = git@github.com:seblemaguer/dotfiles.git
[submodule "submodules/emacs/yyr"]
	path = submodules/emacs/yyr
	url = https://github.com/yyr/emacs.d
